@{
    ViewBag.Title = "Resturant Suggestion Submitted";
}

<h1 class="display-4" style="color:#17a2b8;">@ViewBag.Title</h1>
<br />
<br />
<div>
    <h3>Thank you for your sugestion, the form has been submitted successfully.</h3>
</div>